.places {
  max-width: 984px;
  padding: 0;
}

@media screen and (max-width:1150px) {
  .places {
    max-width: 928px;
  }
}

@media screen and (max-width:890px) {
  .places {
    max-width: 720px;
  }
}

