.place__url-heading {
  font-weight: 400;
  line-height: 20px;
  font-size: 12px;
  margin: 0 0 12px;
  padding: 0;
  max-width: 456px;
  color:#AAAAAA;
  letter-spacing: 2px;
}

@media screen and (max-width:550px) {
  .place__url-heading {
    padding: 0 16px;
  }
}
